body {
  background-image: linear-gradient(to left top, #81d16b, #32d198, #00cdc2, #00c5e1, #18baef, #54b0f1, #7ba5ec, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}


.musi_rock_brand {
  margin: 100px 0;
  .header {
    color: #fff;
    .sub.header{
      color: #fff;
    }
  }
}

.index-header {
  height: calc(100% - 360px);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ui {
    color: #fff;
    &.header {
      font-size: 2em;
      font-weight: 300;
    }
    &.search {
      margin: 50px auto;
      width: min-content;

      input {
        width:400px;
      }
    }
  }


}
