//
// Page "INDEX"
//


// "add new song" button on index page
.new-song-action {
  margin-top: 50px;
  display: flex !important;
  justify-content: center;
  justify-items: center;
}


//
// Page "NEW"
//

