.ui.segment.musirock_menu
  .ui.secondary.menu

    .left.menu
      .item
        %h1 MUSIROCK

      =active_link_to 'Home', root_path, class:'item'
      =active_link_to 'Featured', songs_path, class:'item'
      %a.item
        Collection

    .right.menu
      .item
        .ui
          =link_to 'Add song', new_song_path, class:'ui button'
      .item
        .ui.icon.input
          %input{type:"text", placeholder:"Search..."}
          %i.search.link.icon

      -if !user_signed_in?
        .item
          .ui.buttons
            =link_to "Log in", new_user_session_path, class:'ui button', id:'login_button', remote: true
            .or
            =link_to "Sign up", new_user_registration_path, class:'ui button', id:'register_button', remote: true
      -else
        .item
          .ui.menu
            .ui.dropdown.item
              =current_user.email
              %i.dropdown.icon
              .menu
                %a.item Profile
                %a.item Social
                =link_to 'Log out', destroy_user_session_path, class:'item', method: :delete



